# # Frontend/node_modules/
# # backend/node_modeules/
# # node_modeules

# # Node dependencies (all levels)
# node_modules/

# # If you want to be explicit (optional)
# Frontend/node_modules/
# backend/node_modules/

# # Backend uploads
# backend/uploads/

# # Environment files
# .env

# # Logs
# *.log



# dependencies
node_modules/
Frontend/node_modules/
backend/node_modules/

# environment files
.env
backend/.env

# build folders
build/
dist/

# OS files
.DS_Store
Thumbs.db

backend/backups/*.zip